@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #fccf31 0%, #f55555 100%);
    font-family: "Comfortaa", sans-serif;
    margin: 0;
}

.stopwatch-container {
    background: #fff;
    padding: 40px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;
    width: 100%;
    border: 4px solid #eec650;
}

.header h1 {
    margin: 0;
    font-weight: 700;
    color: #eec650;
}

.time {
    font-size: 3em;
    margin: 20px 0;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.button {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    background: #eec650;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    flex: 1;
    margin: 0 5px;
    font-family: "Comfortaa", sans-serif;
}

.button:hover {
    background:  rgb(216, 146, 61);
    transform: translateY(-3px);
}

.button:active {
    background: rgb(243, 77, 6);
    transform: translateY(0);
}